zendesk-sapi/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="zendesk-sapi-main">
        <http:listener config-ref="zendesk-sapi-httpListenerConfig" path="${http.listener.path}" doc:name="Global HTTP Listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.correlationId default correlationId]" doc:name="correlationId" doc:id="875d3b48-d7f1-4b5a-a77d-3d9c628fe721" variableName="correlationId"/>
		<apikit:router config-ref="zendesk-sapi-config" doc:name="Global APIkit Router"/>
        <error-handler ref="gobal-error-handler">
            
        </error-handler>
    </flow>
    <flow name="zendesk-sapi-console">
        <http:listener config-ref="zendesk-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="zendesk-sapi-config" />
		<error-handler ref="gobal-error-handler" />
    </flow>
	<flow name="put:\tickets\tags:application\json:zendesk-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="a9da82b4-a735-4c84-b32b-11e1d879f9b5" name="update-ticketsFlow" />
    </flow>
</mule>
